// Only for type selectors

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: var(--secondary);
    background-color: var(--primary);
    height: 100vh;
    max-width: fit-content;
    display: grid;
    gap: 5rem;
    margin: 0px;
    padding: 0px;
}