// Only for type selectors

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: var(--secondary);
    background-color: var(--primary);
    height: 100vh;
    max-width: fit-content;
    display: grid;
    grid-template-rows: 1fr 5fr;
    margin: 0px;
    padding: 0px;
}

a {
    color: var(--tertiary);

    &:hover {
        color: var(--quaternary);
    }

    &:visited {
        color: var(--tertiary);
        &:hover {
            color: var(--quaternary);
        }
    }
}

img {
    width: 100vw;
}