// CSS way of defining variables
:root {
    --primary: hotpink;
    --secondary: skyblue;
    --tertiary: wheat;
}

// SASS way of defining variables
// $primary: hotpink;
// $secondary: skyblue;
// $tertiary: wheat;