// CSS way of defining variables
:root {
    --primary: skyblue;
    --secondary: wheat;
    --tertiary: rgb(228, 118, 223);
}

// SASS way of defining variables
// $primary: hotpink;
// $secondary: skyblue;
// $tertiary: wheat;