.header {
    padding: 1rem;
    background-color: var(--secondary);
    position: fixed;
    width: 100vw;
    display: grid;
    gap: 1rem;
    text-align: center;
}

.header__a--home {
    margin-top: .75rem;
    text-decoration: none;

    &:hover {
        color: var(--tertiary) !important;
    }
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__nav__a {
    text-decoration: none;
}