// Only for type selectors

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: var(--secondary);
    background-color: var(--primary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: scroll;
    margin: 0px;
    padding: 0px;
}

a {
    color: var(--tertiary);

    &:hover {
        color: var(--quaternary);
        border-color: var(--quaternary);
    }

    &:visited {
        color: var(--tertiary);
        &:hover {
            color: var(--quaternary);
        }
    }
}